html, body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(26,14,106);
  background: linear-gradient(225deg, rgba(26,14,106,1) 0%, rgba(14,6,68,1) 100%);
  color: #E8B3F0;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}
